### About the dataset
Kaggle: https://www.kaggle.com/datasets/yasserh/student-marks-dataset?resource=download

Number of Instances: 100

number_courses: Number of Courses Opted by the student

time_study: Average Time Studied per day by the student

Marks: Marks Obtained by the student

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("Student_Marks.csv")

In [5]:
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [7]:
df.duplicated().sum()

0

In [8]:
df.describe()

       number_courses  time_study       Marks
count      100.000000  100.000000  100.000000
mean         5.290000    4.077140   24.417690
std          1.799523    2.372914   14.326199
min          3.000000    0.096000    5.609000
25%          4.000000    2.058500   12.633000
50%          5.000000    4.022000   20.059500
75%          7.000000    6.179250   36.676250
max          8.000000    7.957000   55.299000

In [12]:
class MultipleRegression: 

  # Constructor
  def __init__(self):
    self.SSE = None
    self.B0 = None
    self.B1 = None 
    self.B2 = None 

  # Fit function to estimate the parameters
  def fit(self, X1, X2, Y):

    # check all have the same length
    if len(X1) != len(X2) or len(X2) != len(Y):
      return ValueError("X1, X2 and Y must have the same length")
    

    # Converts to numpy array to be able to do the equation below
    X1 = np.array(X1)
    X2 = np.array(X2)
    Y = np.array(Y)
    n = len(X1)

    # Get X1,2 bar Y bar
    X1_bar = X1.sum()/n
    X2_bar = X2.sum()/n
    Y_bar = Y.sum()/n

    # Get Sx1,x1 / Sx2,x2 / Sx1,x2
    Sx1_x1 = sum(X1**2) - n*X1_bar**2
    Sx2_x2 = sum(X2**2) - n*X2_bar**2
    Sx1_x2 = sum(X1*X2) - n*X1_bar*X2_bar

    # Get Sy,x1 and Sy,x2
    Sy_x1 = sum(Y*X1) - n*X1_bar*Y_bar
    Sy_x2 = sum(Y*X2) - n*X2_bar*Y_bar

    # Get B2, B1 and B0 Hats
    self.B2 = ((Sy_x1*Sx1_x2)-(Sy_x2*Sx1_x1))/((Sx1_x2**2)+(Sx2_x2*Sx1_x1))
    self.B1 = (Sy_x1-(self.B2*Sx1_x2))/Sx1_x1
    self.B0 = Y_bar - (self.B1*X1_bar) - (self.B2*X2_bar)

    # calc the SSE
    self.SSE = sum(Y - self.predict(X1, X2))

  # Predict to predict values using estimated parameters
  def predict(self, X1, X2):

    # Model is not trained
    if self.B0 is None:
      return ValueError("Your model is not trained")
    
    # Converts to numpy array to be able to do the equation below
    X1 = np.array(X1)
    X2 = np.array(X2)
    
    return self.B0 + self.B1*X1 + self.B2*X2

In [21]:
# Test the class
model = MultipleRegression()
model.fit(df['number_courses'], df['time_study'], df['Marks'])
model.SSE

4.725109192804666e-13